@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .confirm-button {
    border: 1px solid theme('colors.button');
    border-radius: 6px;
    padding: 8px;
    transition: ease-in-out 0.3s;
  }

  .confirm-button:hover {
    background-color: theme('colors.button');
    color: theme('colors.bg');
    /* border-radius: 8px; */
  }
}